.customColors{    /* CSS HEX */
    --verdigris: #05a8aaff;
    --gunmetal: #2f323aff;
    --light-red: #f97279ff;
    --prugna-purple: #282431ff;

    /* CSS HSL */
    --verdigris: hsla(181, 94%, 34%, 1);
    --gunmetal: hsla(224, 10%, 21%, 1);
    --light-red: hsla(357, 92%, 71%, 1);

    

    
    /*$verdigris: #05a8aaff;*/
    /*$gunmetal: #2f323aff;*/
    /*$light-red: #f97279ff;*/
    /**/
    /*$verdigris: hsla(181, 94%, 34%, 1);*/
    /*$gunmetal: hsla(224, 10%, 21%, 1);*/
    /*$light-red: hsla(357, 92%, 71%, 1);*/
    /**/
    /*$verdigris: rgba(5, 168, 170, 1);*/
    /*$gunmetal: rgba(47, 50, 58, 1);*/
    /*$light-red: rgba(249, 114, 121, 1);*/
    /**/
    /*$gradient-top: linear-gradient(0deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-right: linear-gradient(90deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-bottom: linear-gradient(180deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-left: linear-gradient(270deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-top-right: linear-gradient(45deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-bottom-right: linear-gradient(135deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-top-left: linear-gradient(225deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-bottom-left: linear-gradient(315deg, #05a8aaff, #2f323aff, #f97279ff);*/
    /*$gradient-radial: radial-gradient(#05a8aaff, #2f323aff, #f97279ff);*/
}

.main,
.main-hover:hover {
    color: rgb(37, 87, 87) !important;
    background-color: #05a8aaff !important
}
.secondary,
.secondary-hover:hover {
    color: rgb(107, 113, 131) !important;
    background-color: #2f323aff !important
}

.tertiary,
.tertiary-hover:hover {
    color: rgb(63, 69, 85);
    background-color: #282431 !important
}

.accent,
.accent-hover:hover {
    color: rgb(99, 45, 47)(107, 113, 131) !important;
    background-color: #f97279ff !important
}

.main-color,
.main-color-hover:hover {
    color: #05a8aaff !important;
}

.secondary-color,
.secondary-color-hover:hover {
    color: #2f323aff !important;
}

.tertiary-color
.tertiary-color-hover:hover {
    color: #282431 !important;
}

.accent-color,
.accent-color-hover:hover {
    color: #f97279ff !important;
}


.main-text,
.main-hover-text:hover {
    color: #05a8aaff !important
}

@font-face {
    font-family: 'MyFont';
    src: url('LONDO_.woff') format ('woff'),
        url('LONDO_.ttf') format ('ttf'),
        url('LONDO_.eot') format ('eot');
}


/* Header/Blog Title */
.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 42px;
    text-align: left;
}

.remove-on-hover:hover {
  outline: none !important;
  border: none;
}
.remove-on-hover::before,
.remove-on-hover::after {
  content: none !important;
  border: none !important;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.spacer{    
   padding: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

img {margin-bottom: -7px}

.w3-row-padding img {margin-bottom: 12px}