@font-face {
    font-family: 'MyFont';
    src: url('LONDO_.woff') format ('woff'),
        url('LONDO_.ttf') format ('ttf'),
        url('LONDO_.eot') format ('eot');
}

/* Header/Blog Title */
.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.remove-on-hover:hover {
  outline: none !important;
  border: none;
}
.remove-on-hover::before,
.remove-on-hover::after {
  content: none !important;
  border: none !important;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.spacer{    
   padding: 20px;
}

.minimal-space{
    padding: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.blog-images{
    height: 280px;
}
/* Fake image */
.blog-image-expo {
  display: flex;
  gap: 10px;
  overflow-x: auto;      /* Enables horizontal scroll */
  scroll-snap-type: x mandatory; /* Snaps items into place */
  padding: 10px;
  width: 100%;
  height: 300px;
  scroll-behavior: smooth; /* Smooth scrolling */
}
.blog-image-expo img {
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  object-fit: cover;
}
.blog-image-expo::-webkit-scrollbar {
  display: none;
}
.blog-image-expo {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.blog-image-finished {
  display: flex;
  gap: 20px;
  overflow-x: auto;      /* Enables horizontal scroll */
  scroll-snap-type: x mandatory; /* Snaps items into place */
  padding: 20px;
  width: 100%;
  height: 500%;
  scroll-behavior: smooth; /* Smooth scrolling */
}
.blog-image-finished img {
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  object-fit: cover;
}
.blog-image-finished::-webkit-scrollbar {
  display: none;
}
.blog-image-finished {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.blog-finished{
    height: 460px;
}


img {margin-bottom: -7px}

.w3-row-padding img {margin-bottom: 12px}

/*
Source - https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only
*/

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
